<!--Start comment list and replies-->

<div id ='acco-comment{{post.id}}'>
  {% for comment in post.get_comments %}
  <div class="panel-group accordion_comment" id="accordion-comment" roles="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-reply" roles="tab" id="comment-{{comment.id}}-post-{{post.id}}"> 
          <div class="comment">
            <span class="user_name">{{comment.profile.user.username}} </span>:
            <p class="comment_body">{{comment.body}}</p>
            {% if request.user.username == comment.profile.user.username or request.user.is_staff %}
            <div class="commentdivaa1">
              <p>.</p>
              <p>.</p>
              <p>.</p>
              {% if request.user.username == comment.profile.user.username %}
              <a class="editComment" href="{% url 'poetries:update_comment'  comment.id %}" id="editComment{{post.id}}" >Edit</a>
              {% endif %}              
              <a class="deleteComment" href="{% url 'poetries:delete_comment'  comment.id %}"  id="deleteComment{{comment.id}}" >Delete</a>
            </div>
            {% endif %}
          </div>
          
        <div class="comment_replies">
          <!--Start replies list-->
          <div class="panel-group accordion_comment_replies" id="accordion-{{post.id}}-comment-{{comment.id}}-replies" roles="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-reply" roles="tab" id="post-{{post.id}}-comment-{{comment.id}}-replies">
                
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion-{{post.id}}-comment-{{comment.id}}-replies" href="#collapse-{{post.id}}-replies-{{comment.id}}" aria-expanded="true" aria-controls="collapse-{{post.id}}-{{comment.id}}" href="#"><span id="post_{{post.id}}_comment_{{comment.id}}_replies_number" class="comment_replies_number">{{comment.get_replies.count}}&nbsp;replies &nbsp;<i class="reply_action fa fa-reply">reply</i></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-{{post.id}}-replies-{{comment.id}}" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="post-{{post.id}}-comment-{{comment.id}}-replies">
                <div class="panel-body">
                  <div id ='post_{{post.id}}_comment_{{comment.id}}_acco_reply'>
                    {% for reply in comment.get_replies %}
                    <div class="reply">
                      <span class="user_name">{{reply.profile.user.username}}</span>:
                      <p class="reply_body">{{reply.body}}</p>
                      {% if request.user.username == reply.profile.user.username or request.user.is_staff %}
                      <div class="replytdivaa1">
                          <p>.</p>
                          <p>.</p>
                          <p>.</p>
                          {% if request.user.username == reply.profile.user.username %}
                          <a class="editReply" href="{% url 'poetries:update_reply'  reply.id %}" id="editReply{{reply.id}}" >Edit</a>
                          {% endif %}
                          <a class="deleteReply" href="{% url 'poetries:delete_reply'  reply.id %}"  id="deleteReply{{reply.id}}" >Delete</a>
                        </div>
                      {% endif %}
                  </div>  
                   
                    {% endfor %} 
                  </div>
                  
                  {% if comment.get_replies.count == 0 %}
                  {% if reply is not None %}
                  <div class="reply">
                    <span class="user_name">{{reply.profile.user.username}}</span>:
                    <p class="reply_body">{{reply.body}}</p>
                    {% if request.user.username == reply.profile.user.username or request.user.is_staff %}
                    <div class="replytdivaa1">
                        <p>.</p>
                        <p>.</p>
                        <p>.</p>
                        {% if request.user.username == reply.profile.user.username %}
                        <a class="editReply" href="{% url 'poetries:update_reply'  reply.id %}" id="editReply{{reply.id}}" >Edit</a>
                        {% endif %}
                        <a class="deleteReply" href="{% url 'poetries:delete_reply'  reply.id %}"  id="deleteReply{{reply.id}}" >Delete</a>
                      </div>
                    {% endif %}
                  </div>
                  {% else %}
                  <div id ='post_{{post.id}}_comment_{{comment.id}}_acco_reply'>
                  </div>
                  {% endif %}
                  {% endif %}
                  <!--start reply form-->
                  <form  method="POST" class="form-inline reply-form" id="p_{{post.id}}_c_{{comment.id}}">
                    {% csrf_token %}
                    <input id ="post_{{post.id}}_comment_{{comment.id}}" class="form-control" type="text" name="reply" placeholder="Write reply here.."><button type ="submit" class="btn btn-danger"></i>reply</button>
                  </form>
                <!--end reply form-->
                                                 
                </div>
              </div>
            </div>
          </div>
          <!--Start replies list-->
        </div>
        <!-- <h4 class="panel-title">
         <a class="collapsed" data-toggle="collapse" data-parent="#accordion-comment" href="#collapse-{{post.id}}-{{comment.id}}-reply" aria-expanded="true" aria-controls="collapse-{{post.id}}-{{comment.id}}" href="#"><i class="reply_action fa fa-reply"> reply</i></a>
          </a>
        </h4> -->
      </div>
      
    </div>
  </div>
  {% endfor %} 
</div>


<!--End comment list and replies-->
<!--start comment form-->
  <form  method="POST" class="form-inline comment-form" id="p_{{post.id}}">
      {% csrf_token %}
    <input id ="comment{{post.id}}" class="form-control" type="text" name="comment" placeholder="Write comment here.."><button type="submit" class="btn btn-danger"></i>comment</button>
  </form>
<!--end comment form-->