{% extends 'base.html' %}
{% load static %}

{% block title %}
    home
{% endblock title %}

{% block content %}

<!--Start carousel section-->
<section class="carousel_max_likes_posts">
  <div class="big_carousel text-center">
           <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
               <li data-target="#myCarousel" class="active" data-slide-to="0"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  {% for post in maxLikesPosts %}
                    <div class="carousel-item {% if post.id == maxLikesPost.id %}active{% endif %}">
                      <h5>{{post.title}} </h5>
                      <p >{{post.text}}</p>
                    </div>
                  {% endfor %}
                    
                  </div>
            </div>
       </div>
    </section>
    <!--end carousel section-->
    
     <!--Start posts section-->
     <div class="content">
      <div class="container">
         <div class="row">
              {% include 'poetries/post_list.html' %}   
        </div>    
      </div>
     </div>
     <!--End posts section-->
     <!--start Statstics section-->
    <section class="Statstics text-center">
      <div class="data">
        <div class="container-fluid">
          <h2 class="h1">Our statstics</h2 >
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="stats">
                  <i class="fa fa-users fa-5x"></i>
                  <p>{{profiles_count}}</p>
                  <span>users</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="stats">
                  <i class="fa fa-comments fa-5x"></i>
                  <p>{{commnets_count}}</p>
                  <span>comments</span>
                </div>
              </div>
               <div class="col-md-3 col-sm-6">
                <div class="stats">
                  <i class="fa fa-thumbs-up fa-5x "></i>
                  <p>{{likes_count}}</p>
                  <span>likes</span>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="stats">
                 <i class="fa fa-leaf fa-5x"></i>
                  <p>{{posts_count}}</p>
                  <span>postes</span>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!--end Statstics section-->

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/sentiments_filter.js' %}"></script>
<!-- <script src="{% static 'js/likeToggle.js' %}"></script> -->

{% endblock scripts %}