 {% load i18n %}
<div class="reply">
  <span class="user_name">{{reply.profile.user.username}}</span>:
  <p class="reply_body">{{reply.body}}</p>
  <div class="replytdivaa1">
      <p>.</p>
      <p>.</p>
      <p>.</p>
      <a class="editReply" href="{% url 'poetries:update_reply'  reply.id %}" id="editReply{{reply.id}}" >{% trans "Edit" %}</a>
      <a class="deleteReply" href="{% url 'poetries:delete_reply'  reply.id %}"  id="deleteReply{{reply.id}}" >{% trans "Delete" %}</a>
    </div>
</div>  