{% extends 'base.html' %}
{% load static %}
 {% load i18n %}
{% block title %}
{{post_type}}
{% endblock title %}

{% block content %}

 <!--Start posts section-->
     <div class="content">
      <div class="container">
        <div class="filter">
          <div class="row">
            <div class="col-md-2 col-xs-4">
             {% trans 'Filter by:' %}
            </div>
            {% if LANGUAGE_CODE == 'en' %}
            {% for key,value in sentiments.items %}
            <div class="col-md-2 col-xs-4">
              <input class="filter-checkbox" data-post_type="{{post_type}}" data-filter="sentiment" value="{{key}}" type="checkbox" {{value}}/>{{key}} 
            </div>
            {% endfor %}
            {% elif LANGUAGE_CODE == 'ar' %}
            {% for key,value in sentiments_ar.items %}
            <div class="col-md-2 col-xs-4">
              <input class="filter-checkbox" data-post_type="{{post_type}}" data-filter="sentiment" value="{{value.0}}" type="checkbox" {{value.1}}/>{{key}} 
            </div>
            {% endfor %}
            {%endif%}
          </div>
        </div>
        <div class="row" id = "post_list">
          {% include 'poetries/post_list.html' %}   
        </div>      
      </div>         
     </div>
   
     <!--End posts section-->
     
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/sentiments_filter.js' %}"></script>
{% endblock scripts %}