{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans "Profile update" %}
{% endblock title %}
{% block style %}
<style>
.update_profile{
    margin-top: 64px;
    
}
    

.update_profile p{
    color: #fff;
}

.update_profile p #id_text{
    width: 95%;
}

.update_profile .btn
{
    width: 100%;
}
</style>
{% endblock style %}

{% block content %}
    <div class="update_profile text-center">
        <form method ="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="username">{% trans "Username" %}:</label>
            <input type="text" name="username" maxlength="150" placeholder="username" value="{{user.username}}"><br>
            <label for="first_name">{% trans "First name" %}:</label>
            <input type="text" name="first_name" maxlength="150" placeholder="first_name" value="{{user.first_name}}"><br>
            <label for="last_name">{% trans "Last name" %}:</label>
            <input type="text" name="last_name" maxlength="150" placeholder="last_name" value="{{user.last_name}}"><br>
            {{form.bio.label}}
            {{form.bio}}<br>
            {{form.avatar.label}}
            {{form.avatar}}<br>
            <button  type="submit" class="btn btn-primary text-center">{% trans "Save" %}</button>
        </form>
    </div>
    
{% endblock content %}


