{% extends 'base.html' %}
{% load static %}

{% block title %}
    Real stories
{% endblock title %}

{% block content %}

 <!--Start posts section-->
     <div class="content">
      <div class="container">
        <div class="filter">
          <div class="row">
            <div class="col-md-2 col-xs-4">
             Filter by:
            </div>
            <div class="col-md-2 col-xs-4">
              <input type="checkbox">Happy 
            </div>
            <div class="col-md-2 col-xs-4">
              <input type="checkbox">Sad
            </div>
            <div class="col-md-2 col-xs-4">
              <input type="checkbox">Normal
            </div>
            <div class="col-md-2 col-xs-4">
              <input type="checkbox">Action
            </div>
            <div class="col-md-2 col-xs-4">
              <input type="checkbox">Romance
            </div>
          </div>
        </div>
        <div class="row">
        {% for story in stories  %}
          <div class="col-md-10 col-md-offset-1 viewed_post">
            <h2 class="post_title">{{story.title}}</h2> <span class="post_created_date">{{story.created}}</span> 
            
            <p class="post_body">
              {{story.text}}
            </p>
            <div class="post_statstics">
              <span class="likes_number">0 like</span><span class="comments_number">0 comments</span>
              
            </div>
            <div class="interactive">
            
              <div class="panel-group" id="accordion" roles="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" roles="tab" id="heading-{{story.id}}">
                    <h4 class="panel-title">
                      <a  href="#"><i class="like_action fa fa-thumbs-up fa-2x"> Like</i></a>
                     <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{story.id}}" aria-expanded="true" aria-controls="collapse-{{story.id}}" href="#"><i class="comment_action fa fa-commenting-o fa-2x"> Comment</i></a>
                     </a>
                    </h4>
                  </div>
                  <div id="collapse-{{story.id}}" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="heading-{{story.id}}">
                    <div class="panel-body">
                      <!--Start comment list and replies-->
                      {% for comment in story.get_comments %}
                      <div class="panel-group accordion_comment" id="accordion-comment" roles="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading panel-heading-reply" roles="tab" id="comment-{{comment.id}}-post-{{story.id}}"> 
                              <div class="comment">
                                <span class="user_name">{{comment.profile.user.username}} </span>:
                                <p class="comment_body">{{comment.body}}</p>
                              </div>
                              
                            <div class="comment_replies">
                              <!--Start replies list-->
                              <div class="panel-group accordion_comment_replies" id="accordion-{{story.id}}-comment-{{comment.id}}-replies" roles="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                  <div class="panel-heading panel-heading-reply" roles="tab" id="post-{{story.id}}-comment-{{comment.id}}-replies">
                                    
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion-{{story.id}}-comment-{{comment.id}}-replies" href="#collapse-{{story.id}}-replies-{{comment.id}}" aria-expanded="true" aria-controls="collapse-{{story.id}}-{{comment.id}}" href="#"><span class="comment_replies_number">4 replies</span>
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapse-{{story.id}}-replies-{{comment.id}}" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="post-{{story.id}}-comment-{{comment.id}}-replies">
                                    <div class="panel-body">
                                    {% for reply in comment.get_replies %}
                                      <div class="reply">
                                        <span class="user_name">{{reply.profile.user.username}}</span>:
                                        <p class="reply_body">{{reply.body}}</p>
                                      </div>  
                                    {% endfor %}                                  
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!--Start replies list-->
                            </div>
                            <h4 class="panel-title">
                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion-comment" href="#collapse-{{story.id}}-{{comment.id}}-reply" aria-expanded="true" aria-controls="collapse-{{story.id}}-{{comment.id}}" href="#"><i class="reply_action fa fa-reply"> reply</i></a>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse-{{story.id}}-{{comment.id}}-reply" class="panel-collapse collapse" roles="tabpanel" aria-labelledby="comment-{{comment.id}}-post-{{story.id}}">
                            <div class="panel-body">
                               
                              <!--start reply form-->
                                <form action="#" method="POST" class="form-inline">
                                  <input class="form-control" type="text" name="reply" placeholder="Write reply here.."><button class="btn btn-danger"></i>reply</button>
                                </form>
                              <!--end reply form-->
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <!--End comment list and replies-->
                      <!--start comment form-->
                        <form action="#" method="POST" class="form-inline">
                          <input class="form-control" type="text" name="comment" placeholder="Write comment here.."><button class="btn btn-danger"></i>comment</button>
                        </form>
                      <!--end comment form-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        {% endfor %}         
        </div>      
      </div>         
     </div>
   
     <!--End posts section-->
     
{% endblock content %}