
form{
    background-color: #333;
    border: 3px solid #E42524;
    margin-top: -30px;
    padding-top: 30px;
    display: block;
    width: auto;
}
#id_title, #id_text, #id_sentiment_type{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    width: 80%;
    border: 3px solid #E42524;
}

form p{
    color: #fff;
}

form p #id_title, form p #id_sentiment_type{
    border: 3px solid #E42524;
}


form p #id_text{
    width: 95%;
    border: 3px solid #E42524;
}

button{
    width:100%;
}