{% url 'Poetries:home' as path_of_home %}
{% url 'Poetries:posts' 'poetry' as path_of_poetry %}
{% url 'Poetries:posts' 'reflection' as path_of_reflections %}
{% url 'Poetries:posts' 'real_story' as path_of_real_stories %}
{% url 'Poetries:posts' 'I_read_you' as path_of_i_read_you %}



<!--Start navbar section-->
<nav class="main-nav navbar navbar-expand-lg navbar-dark fixed-top">
  <!-- Brand -->
    <div class="navbar-brand logo">
       <a  href="" class="logo1">P<span class="logo2">oe</span><span class="logo3">try</span></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse navbar-dark"  id="menu">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="item nav-item hvr-wobble-top"> <a class="nav-link {% if request.path == path_of_home %}active{% endif %}" href="{{path_of_home}}">Home</a> </li>
            <li class="item nav-item hvr-wobble-top"> <a class="nav-link {% if request.path == path_of_poetry %}active{% endif %}" href="{{path_of_poetry}}">Poetry</a></li>
            <li class="item nav-item hvr-wobble-top"> <a class="nav-link {% if request.path == path_of_reflections %}active{% endif %}" href="{{path_of_reflections}}">Reflections</a></li>
            <li class="item nav-item hvr-wobble-top"> <a class="nav-link {% if request.path == path_of_real_stories %}active{% endif %}" href="{{path_of_real_stories}}">Real stories</a></li>
            <li class="item nav-item hvr-wobble-top"> <a class="nav-link {% if request.path == path_of_i_read_you %}active{% endif %}" href="{{path_of_i_read_you}}">I read you</a></li>
            <li class="item nav-item hvr-wobble-top"> <a class ="nav-link" href="">About</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item hvr-wobble-top" href="{% url 'poetries:profile_view' request.user.id %}">Profile</a>
                <a class ="dropdown-item hvr-wobble-top" href="{% url 'poetries:logout' %}">Log out</a>
              </div>
            </li>
            {% endif %}
      </ul>
  </div>
</nav>
  <!--End navbar section-->