{% extends 'dashboardBase.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    | {% trans "users" %}
{% endblock title %}
   

{% block style %}
<style>
  .row{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .create_post_btn{
    height: 40px;
    width: 100%;
  }
  .form-inline{
    height: 40px;
    width: 100%;
  }
  .form-inline .form-control{
    width: 80%;
  }
  .form-inline .btn {
    width: 20%;
  }
</style>

{% endblock style %}

{% block content %}



<div class="bg-light">
    <form class="form-inline">
      <input class="user_search form-control "  type="search"   name="username" placeholder="{% trans "Search" %}" aria-label="Search" autocomplete="off">
    </form>
  </div>
  <br>




<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Username" %}</th>
      <th scope="col">{% trans "First name" %}</th>
      <th scope="col">{% trans "Last name" %}</th>
      <th scope="col">{% trans "Email" %}</th>
      <th scope="col"></th>
      <th scope="col"><a href="{% url 'dashboard:delete_all_users' %}" class="btn btn-danger">{% trans "Delete all" %}</a></th>
    </tr>
  </thead>
  
  <tbody id = "dashboard_user_list">
    {% include 'admins/dashboard_user_list.html' %}
  </tbody>
</table>
<hr>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/dashboard_filter.js' %}" defer></script>

{% endblock scripts %}
