{% extends 'dashboardBase.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    | {% trans "Profile update" %}
{% endblock title %}
   

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard_form_style.css' %}">
{% endblock style %}

{% block content %}
    <form method ="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="text" name="username" maxlength="150" placeholder="{% trans "username" %}" value="{{user.username}}"><br>
        <input type="text" name="first_name" maxlength="150" placeholder="{% trans "First name" %}" value="{{user.first_name}}"><br>
        <input type="text" name="last_name" maxlength="150" placeholder="{% trans "Last name" %}" value="{{user.last_name}}"><br>
        {{form.bio}}<br>
        {{form.avatar}}<br>
        <button type="submit" class="btn btn-primary text-center">{% trans "Save" %}</button>
    </form>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/myscript.js' %}"></script>
{% endblock script %}