{% extends 'dashboardBase.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    | Create post
{% endblock title %}
   

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dashboard_form_style.css' %}">
{% endblock style %}

{% block content %}
    <form method ="post">
    {% csrf_token %}
        {{form.title}} <br>
        {{form.text}}  <br>
        {{form.sentiment_type}} <br>
        <button type="submit" class="btn btn-primary text-center">{% trans "Save" %}</button>
        </form>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/myscript.js' %}"></script>
{% endblock script %}