{% for post in data  %}
    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.title}}</td>
      <td>{{post.created}}</td>
      <td>{{post.get_likes.count}}</td>
      <td>{{post.get_comments.count}}</td>
      <td><a href="{% url 'dashboard:dashboard_post'  post.id %}" class="btn btn-info">View</a></td>
      <td><a href="{% url 'dashboard:update_post'  post.id %}" class="btn btn-primary">Edit</a></td>
      <td><a href="" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}